$BackgroundPrincipal: #D5ACA9;
$BackgroundSecundario: #EBCFB2;
$BackgroundFooter: #C5BAAF;

$font-p: 1.8rem;
$font-h1: 3.0rem;
$font-h2: 2.4rem;
$font-h3: 2.0rem;
$font-h4: 3.5rem;

p{
    font-size:$font-p;
    color: #424B54;
}

h2{
    font-size: $font-h2;
    padding: 30px;
    color: #424B54;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.363);
    -webkit-text-stroke: 1px #080808;
}

h3{
    font-size: $font-h3;
    font-weight:lighter;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
h4{
    font-size: $font-h4;
    font-weight: lighter;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    -webkit-text-stroke: 1px #424B54;
}
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);