html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    line-height: 1.6;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: $BackgroundPrincipal;
}

main{
    font-family: 'Noto Sans JP', sans-serif;
}
